<div class="container mt-5">
  <form #registerForm="ngForm" (ngSubmit)="login()">
    <h2 class="text-center text-primary">Admin Panel</h2>
    <hr />
  
    <div class="form-group">
      <input type="text" class="form-control" required name="email" [(ngModel)]="model.email" placeholder="Username" />
    </div>
  
  
    <div class="form-group">
      <input type="password" class="form-control" required name="password" [(ngModel)]="model.password" placeholder="Password" />
    </div>
  
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">LogIn</button>
    
    </div>
  </form>
</div>

